*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-side{
    width: 50%;
    height: 100vh;
    background-color: #FFFFF0;
    overflow-y: auto;
    scrollbar-width: thin;       
    scrollbar-color: #b3b3b3 transparent;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.cv{
    font-weight: 100;
}

.top-header{
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.bottom-content{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.details{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    gap: 80px;
    width: 100%;
}

.name-and-title{
    text-align: left;
}

.name{
    font-size: 50px;
    font-weight: 400;
}

.title{
    font-weight: 300;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.phone, .email, .address{
    font-weight: 700;
}

.paragraph
{
    text-align: justify;
    text-align: left;
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #292d38;
}

.list{
    list-style-type: none;
}

.me{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgba(0, 0, 3, 0.45);
}

@media (max-width: 1500px){
    .main-container{
        height: 100vh;
    }

    .me{
        width: 50%;
        height: 50%;
        border-radius: 20px;
    }

    .details{
        padding-bottom: 5%;
    }
}

@media (max-width: 1000px){
    .main-container{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
    }

    .details{
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 20%;
    }

    .left-side{
        width: 100%;
        height: 100vh;
        overflow-y: auto;
    }

    .right-side{
        height: 30%;
        width: 100%;
    }

    .me{
        width: 25%;
        height: 80%;
        border-radius: 20px;
    }
}

@media (max-width: 500px){
    .main-container{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
    }

    .details{
        gap: 40px;
        padding-left: 5%; 
        padding-right: 5%;
        padding-bottom: 5%;
        width: 100%;
    }

    .left-side{
        width: 100%;
        height: 100vh;
        overflow-y: auto;
    }

    .right-side{
        height: 30%;
        width: 100%;
    }

    .me{
        width: 50%;
        height: 80%;
        border-radius: 20px;
    }

    .top-header{
        text-align: center;
    }
}
